<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="DalManager" value="Reco4.DalSql.DalManager,Reco4.DalSql" />-->
    <add key="DalManager" value="Reco4.DalEF.DalManager,Reco4.DalEF"/>
    <add key="DBName" value="ElmerFudd"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Server" connectionString="Data Source=REWS003;Initial Catalog=ElmerFudd;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
    <add name="Server" connectionString="Data Source=G7HVG063E;Initial Catalog=ElmerFudd;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
